@font-face {
    font-family: black;
    src: url(Fonts/black.ttf);
}
@font-face {
    font-family: shot;
    src: url(Fonts/shot.ttf);
}
@font-face {
    font-family: ank;
    src: url(Fonts/ank.ttf);
}
@font-face {
    font-family: north;
    src: url(Fonts/north.otf);
}
@font-face {
    font-family: birdy;
    src: url(Fonts/birdy.otf);
}
@font-face {
    font-family: cubic;
    src: url(Fonts/cubic.ttf);
}
@font-face {
    font-family: duo;
    src: url(Fonts/duo.ttf);
}
@font-face {
    font-family: daughter;
    src: url(Fonts/daughter.otf);
}
@font-face {
    font-family: paris;
    src: url(Fonts/paris.ttf);
}
@font-face {
    font-family: league;
    src: url(Fonts/league.otf);
}
@font-face {
    font-family: fast;
    src: url(Fonts/fast.ttf);
}
@font-face {
    font-family: trella;
    src: url(Fonts/trella.ttf);
}
[data-tab-content] {
    display: block;
}
.active[data-tab-content] {
    display: block;
}
body, html{
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: #f7ebec;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: url("Images/cursor.png"), auto;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}
body::-webkit-scrollbar {
    display: none;
}


.tabs{
    display: none;
    justify-content: space-evenly;
    position: relative;
    height: 200%;
    list-style-type: none;
    font-size: max(3vw, 3.5vh);
    /* margin-top: 6%; */
    padding: 0;
    border-bottom: 1px solid black;
    background-color: rgba(188, 191, 193, 0.004);
}
.tabs.visible{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.tabs.vertical {
    flex-direction: column; /* Display tabs horizontally on desktop */
    align-items: center; /* Center-align the tabs */
    grid-template-columns: 1fr 1fr;
}
.tabs.vertical li{
    width: 50%;
    margin-left: 30px;
}
.tabs.vertical.visible{
    flex-direction: column;
    display: grid;
}
.expand{
    display: none;
    cursor: pointer;
}
.collapse {
    display: none;
    cursor: pointer;
}
.tab{
    margin-bottom: 2vh;
    cursor: pointer;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 6px;
    text-align: center;
}
.tab:hover{
    /* background: linear-gradient(90deg, #f1f8dd36, #eaf4cbc0, #f1f8dd36); */
    background: linear-gradient(90deg, #f4ddf8b2, #d4cbf469, #f4ddf8b2);
}
.tab.active{
    /* filter: drop-shadow(0px 0px 4px 2px rgba(200, 3, 255, 0.5));
    background: linear-gradient(90deg, #f7c49736, #ebf8f8eb, #f1f9fcd8, #ebe6ef, #eae4e4, #f6d66b39);
    box-shadow: 0 2px 8px 2px rgba(255, 1, 170, 0.4); */
    box-shadow: 0 1px 10px 6px rgba(201, 24, 225, 0.4);
    filter: drop-shadow(0px 0px 4px 1px rgba(255, 3, 3, 0.5));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(216, 165, 252, 0.101);
}
.activetab{
    /* box-shadow: 2px 4px 12px 2px rgba(255, 90, 1, 0.4); */
    box-shadow: 0 1px 10px 6px rgba(201, 24, 225, 0.4);
    filter: drop-shadow(0px 0px 4px 1px rgba(255, 3, 3, 0.5));
}
.view-cart{
    cursor: pointer;
    margin-bottom: 2vh;
    background: transparent;
    border: none;
}


.fixed-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #bcbfc16c;
    /* border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px; */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.home-content{
    width: 100%;
    margin: 0;
    padding: 0;
}
.head{
    display: flex;
    justify-content: center;
    /* font-size: 3vw; */
    font-size: max(3vw, 3.5vh);
    text-align: center;
    /* height: 120px; */
    /* align-items: center; */
    /* cursor: pointer; */
    background: linear-gradient(to right, #8205c5ba, #3505c5ba);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 7s linear infinite;
}
.header{
    cursor: pointer;
}


#home{
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    /* position: relative; */
    /* overflow: hidden; */
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel{
    position: relative;
    /* transform: translateX(-74%); */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-left: 95vw;
    margin-right: -5vw;
    margin-bottom: 0;
    /* padding-bottom: -10vh; */
    overflow-x: scroll;
    overflow-y: hidden;
    /* animation: slide-desktop 20s reverse; */
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}
.carousel img{
    animation: slide 1.2s;
    border-radius: 15px;
    scale: 1;
    height: 45vh;
    width: 45vw;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 40px 0 #1f268766;
    filter: drop-shadow(0px 0px 10px #00000080);
    /* left: 0vh; */
    margin-top: 25vh;
    margin-right: 2.5vw;
    margin-left: 2.5vw;
}
.carousel img:hover{
    cursor: url("Images/pointer.png"), auto;
    background: linear-gradient(90deg, #fd9230, #00a19d, #0c87b7, #cb49ff, #ff6666, #f9d923);
    box-shadow: 2px 4px 12px 2px rgba(255, 90, 1, 0.4);
    filter: drop-shadow(0px 0px 10px rgba(91, 3, 255, 0.5));
}
.carousel img:hover + .carousel-text{
    opacity: 1;
}
.carousel-text:hover{
    opacity: 1;
}
.carousel-text {
    position: relative;
    font-family: north;
    color: rgb(230, 227, 254);
    font-size: 3vh;
    bottom: 6vh;
    left: 5vw;
    text-shadow: black -3px 3px 10px, silver -3px 3px 12px;
    opacity: 0;
    cursor: url("Images/pointer.png"), auto;
    animation: slide 1.2s;
}



.tab-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: transparent;
    padding-top: 0;
    margin-top: 0;
    /* padding-right: 3vw; */
    list-style-type: none;
    /* justify-content: center; */
}
#services{
    position: relative;
    height: 100vh;
    width: 100vw;
    margin-top: -20vh;
    padding-top: 0;
    /* text-align: center; */
    /* z-index: 4; */
    overflow-y: hidden;
    overflow-x: scroll;
}
.services-header{
    padding-top: 25vh;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 5vh;
}
.services-content{
    margin: 0 2vw;
}
#services-content0, #services-content1{
    position: relative;
    float: left;
}
#services-content2, #services-content3{
    position: relative;
    float: left;
}
#services video{
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin: 0 1.7vw;
    height: 50vh;
    width: 28.125vh;
    border-radius: 12px;
    box-shadow: 1px 5px 10px 6px rgba(31, 38, 135, 0.264);
    filter: drop-shadow(0px 0px 10px rgba(157, 23, 235, 0.116));
}
.details{
    display: none;
    position: absolute;
    width: 33vh;
    height: 50vh;
    top: 1vh;
    right: 0;
    /* transition: right 0.5s; */
    background: transparent;
    box-shadow: 1px 5px 10px 4px rgba(31, 38, 135, 0.264);
    z-index: 1;
    transition: all ease-in-out 0.5s;
    /* transform: translateX(100%); */
}
.details-text{
    top: 0;
    left: 0;
    position: relative;
    padding-top: 1vh;
    padding-bottom: 0.5vh;
}
.details-description{
    left: 0;
    position: relative;
    padding-top: 0.5vh;
    padding-bottom: 1vh;
    margin-bottom: 0;
}
.price{
    padding-top: 0;
    margin-bottom: 0;
    top: 0;
    left: 0;
    position: relative;
    margin-top: 2vh;
}
.add-to-cart{
    top: 0;
    left: 0;
    position: relative;
    margin-top: 2vh;
    min-width: 10vw;
    max-width: 13vw;
    min-height: 5vh;
    text-decoration: none;
    color: aliceblue;
    font-size: max(2vw, 1.5vh);
    font-family: duo;
    border-radius: 8px;
    border: none;
    background-color: #6116e393;
    cursor: pointer;
    transition: background-color 0.25s, color 0.25s;
}
.add-to-cart:hover{
    background-color: #6116e35d;
}
.add-to-cart:checked{
    color: white;
}

#services-content0 .details-text, #services-content1 .details-text, #services-content2 .details-text, #services-content3 .details-text{
    display: flex;
    justify-content: center;
}
#services-content0:hover .details, #services-content1:hover .details{
    display: block;
    right: -17vw;
    /* transform: translateX(0%); */
    /* top: -9.2vh; */
    border-radius: 12px;
    transform: rotate(3deg);
}
#services-content2:hover .details, #services-content3:hover .details{
    display: block;
    margin-right: 17vw;
    /* top: -9.2vh; */
    border-radius: 12px;
    transform: rotate(-3deg);
}
#services-content0:hover, #services-content1:hover{
    transform: rotate(-3deg);
    /* transition: all ease-in-out 0.1s; */
}
#services-content2:hover, #services-content3:hover{
    transform: rotate(3deg);
    /* transition: all ease-in-out 0.1s; */
}
#services-content0, #services-content1, #services-content2, #services-content3{
    transition: all 0.2s ease;
}
#services-content0:hover video, #services-content1:hover video, #services-content2:hover video, #services-content3:hover video{
    box-shadow: 0 0 10px 2px #cb49ff;
}


@media screen and (max-width: 768px) {
    .carousel{
        /* padding-left: 480vw; */
        padding-right: 5vw;
        height: 50vh;
        /* padding-left: 180vw; */
        /* width: 400vw; */
    }
    .carousel img {
        height: 25vh; /* Allow height to adjust automatically */
        width: 90vw; /* Set maximum width to 90% of viewport width */
        margin-top: 10vh;
        /* animation: slide 1.2s; */
    }
    .carousel-text{
        opacity: 1;
        font-size: 2.5vh;
        bottom: 5vh;
        left: 7vw;
    }
    .tab-content{
        margin-left: -5vw;
        padding-left: 0;
        margin-top: 0;
    }
    #services{
        /* position: relative; */
        padding-left: 3vw;
        margin-top: -6vh;
        height: 46.5vh;
        width: 100vw;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    #services video{
        /* flex-direction: row; */
        margin-top: 0;
        margin-bottom: 2vh;
        margin-right: 0;
        height: 39vh;
        width: 22vh;
    }
    #services p{
        margin-top: -2vh;
    }
    .services-content{
        padding-left: 0;
    }
    #services-content0:hover .details, #services-content1:hover .details, #services-content2:hover .details, #services-content3:hover .details{
        display: none;
    }
    .swipe2{
        position: relative;
        left: 45vw;
        bottom: -23vh;
        transform: rotate(90deg);
    }
    .swipe2 span{
        display: block;
        width: 10px;
        height: 10px;
        border-bottom: 5px solid rgba(79, 42, 191, 0.598);
        border-right: 5px solid rgba(73, 85, 255, 0.6);
        transform: rotate(45deg);
        animation: swipe2 2s infinite;
    }
    .swipe2 span:nth-child(1){
        animation-delay: -1.5s;
    }
    .swipe2 span:nth-child(2){
        animation-delay: -1s;
    }
    .swipe2 span:nth-child(3){
        animation-delay: -0.5s;
    }
    
}

@keyframes swipe2{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;

    }
}
@keyframes slide{
    0%, 15%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-10vw);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes gradient{
    0%{background-position: 0% 75%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 100%;}
}